<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudy</key>
	<dict>
		<key>icon</key>
		<string>cloudy.png</string>
		<key>person</key>
		<string>person_mostlycloudy.png</string>
		<key>background</key>
		<string>background_mostlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_mostlycloudy.png</string>
	</dict>
	<key>rain</key>
	<dict>
		<key>icon</key>
		<string>rain.png</string>
		<key>person</key>
		<string>nt_person_rain.png</string>
		<key>background</key>
		<string>nt_background_rain.png</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
	</dict>
	<key>chanceflurries</key>
	<dict>
		<key>icon</key>
		<string>chanceflurries.png</string>
		<key>person</key>
		<string>person_snow.png</string>
		<key>background</key>
		<string>background_snow.png</string>
		<key>mirror</key>
		<string>mirror_snow.png</string>
	</dict>
	<key>chancerain</key>
	<dict>
		<key>icon</key>
		<string>chancerain.png</string>
		<key>person</key>
		<string>person_rain.png</string>
		<key>background</key>
		<string>background_rain.png</string>
		<key>mirror</key>
		<string>mirror_rain.png</string>
	</dict>
	<key>chancesleet</key>
	<dict>
		<key>icon</key>
		<string>chancesleet.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
	</dict>
	<key>chancesnow</key>
	<dict>
		<key>icon</key>
		<string>chancesnow.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
	</dict>
	<key>chancetstorms</key>
	<dict>
		<key>icon</key>
		<string>chancetstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.png</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
	</dict>
	<key>clear</key>
	<dict>
		<key>icon</key>
		<string>sunny.png</string>
		<key>person</key>
		<string>nt_person_sunny.png</string>
		<key>background</key>
		<string>nt_background_sunny.png</string>
		<key>mirror</key>
		<string>nt_mirror_sunny.png</string>
	</dict>
	<key>fog</key>
	<dict>
		<key>icon</key>
		<string>fog.png</string>
		<key>person</key>
		<string>person_fog.png</string>
		<key>background</key>
		<string>background_fog.png</string>
		<key>mirror</key>
		<string>mirror_fog.png</string>
	</dict>
	<key>hazy</key>
	<dict>
		<key>icon</key>
		<string>hazy.png</string>
		<key>person</key>
		<string>person_hazy.png</string>
		<key>background</key>
		<string>background_hazy.png</string>
		<key>mirror</key>
		<string>mirror_hazy.png</string>
	</dict>
	<key>mostlycloudy</key>
	<dict>
		<key>icon</key>
		<string>mostlycloudy.png</string>
		<key>person</key>
		<string>person_mostlycloudy.png</string>
		<key>background</key>
		<string>background_mostlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_mostlycloudy.png</string>
	</dict>
	<key>mostlysunny</key>
	<dict>
		<key>icon</key>
		<string>mostlysunny.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
	</dict>
	<key>partlycloudy</key>
	<dict>
		<key>icon</key>
		<string>partlycloudy.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
	</dict>
	<key>partlysunny</key>
	<dict>
		<key>icon</key>
		<string>mostlysunny.png</string>
		<key>person</key>
		<string>person_partlycloudy.png</string>
		<key>background</key>
		<string>background_partlycloudy.png</string>
		<key>mirror</key>
		<string>mirror_partlycloudy.png</string>
	</dict>
	<key>sleet</key>
	<dict>
		<key>icon</key>
		<string>sleet.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
	</dict>
	<key>snow</key>
	<dict>
		<key>icon</key>
		<string>snow.png</string>
		<key>person</key>
		<string>nt-person_snow.png</string>
		<key>background</key>
		<string>nt-background_snow.png</string>
		<key>mirror</key>
		<string>nt_mirror_snow.png</string>
	</dict>
	<key>sunny</key>
	<dict>
		<key>icon</key>
		<string>sunny.png</string>
		<key>person</key>
		<string>nt_person_sunny.png</string>
		<key>background</key>
		<string>nt_background_sunny.png</string>
		<key>mirror</key>
		<string>nt_mirror_sunny.png</string>
	</dict>
	<key>tstorms</key>
	<dict>
		<key>icon</key>
		<string>tstorms.png</string>
		<key>person</key>
		<string>person_tstorms.png</string>
		<key>background</key>
		<string>background_tstorms.png</string>
		<key>mirror</key>
		<string>mirror_tstorms.png</string>
	</dict>
</dict>
</plist>
